<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}" />
    <title>My Website - About</title>
</head>
<body>
    <h1>Ayesha Rowe</h1>
    <img src="{{ url_for('static', filename='Ayesha.jpeg') }}" alt="Your Image" />
    <p>Ayesha Rowe is a passionate and driven second-year Information Technology (IT) student, known for her dedication to mastering the technical and creative aspects of the field. With a keen interest in software development, cybersecurity, and user experience design, she actively participates in coding competitions, hackathons, and collaborative projects. Ayesha’s enthusiasm for problem-solving and innovation shines through her work, as she balances her academic studies with hands-on learning. Inspired by her Jamaican heritage, she also strives to promote diversity and inclusion in the tech industry, aiming to make a meaningful impact through her skills and creativity. </p>
</body>
</html>